* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f7fb;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn {
  padding: 14px 28px;
  border: none;
  border-radius: 10px;
  background: #141516;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}



.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}